In [1]:
import pandas as pd
import numpy as np

In [7]:
arr=np.array([10,20,30,40,50])
s=pd.Series(arr)
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,index=['first','second','third','fourth'])
s

first     a
second    b
third     c
fourth    d
dtype: object

In [10]:
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,index=['first','second','third','fourth'])
s

first     a
second    b
third     c
fourth    d
dtype: object

In [12]:
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,index=['1','2','3','4'])
s

1    a
2    b
3    c
4    d
dtype: object

In [2]:
s=pd.Series([3,4,5,6,24,35,78])
s

0     3
1     4
2     5
3     6
4    24
5    35
6    78
dtype: int64

In [3]:
s.head(4)

0    3
1    4
2    5
3    6
dtype: int64

In [4]:
s.tail()

2     5
3     6
4    24
5    35
6    78
dtype: int64

In [5]:
s.loc[0:2]

0    3
1    4
2    5
dtype: int64

In [6]:
s.iloc[:2]

0    3
1    4
dtype: int64

In [7]:
s[:2]

0    3
1    4
dtype: int64

In [8]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [9]:
print(s.index)

RangeIndex(start=0, stop=7, step=1)

In [10]:
df=pd.DataFrame(s)

In [11]:
df

    0
0   3
1   4
2   5
3   6
4  24
5  35
6  78

In [29]:
name=pd.Series(['hardik','virat','dhoni'])
team=pd.Series(['mi','rcb'])
df=pd.DataFrame({'name':name,'team':team})
df

     name team
0  hardik   mi
1   virat  rcb
2   dhoni  NaN

In [31]:
for(row_index,row_value) in df.iterrows():
    print ("row index is:",row_index)
    print ("row value is:",row_value)

row index is: 0
row value is: name    hardik
team        mi
Name: 0, dtype: object
row index is: 1
row value is: name    virat
team      rcb
Name: 1, dtype: object
row index is: 2
row value is: name    dhoni
team      NaN
Name: 2, dtype: object

In [36]:
for(col_index,col_value) in df.items():
    print ("col index is:",col_index)
    print ("col value is:",col_value)

col index is: name
col value is: 0    hardik
1     virat
2     dhoni
Name: name, dtype: object
col index is: team
col value is: 0     mi
1    rcb
2    NaN
Name: team, dtype: object

In [37]:
s=pd.Series([20,30,40,50,60])
df=pd.DataFrame(s)
df.columns['list1']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices